@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 45 20% 99%;
    --foreground: 222.2 47% 11%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47% 11%;
    --primary: 168 76% 27%;
    --primary-foreground: 150 40% 98%;
    --secondary: 40 25% 94%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 20% 95%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 38 92% 50%;
    --accent-foreground: 24 90% 12%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 20% 89%;
    --input: 214.3 20% 89%;
    --ring: 168 76% 27%;
    --radius: 0.65rem;
  }

  .dark {
    --background: 222.2 47% 8%;
    --foreground: 210 40% 98%;
    --card: 222.2 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 168 70% 36%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 38 92% 50%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 168 70% 36%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased selection:bg-amber-100 selection:text-amber-900;
  }
}
